body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body,
#root {
  height: 100vh;
}
.boxShadow {
  box-shadow: 0 3px 13px rgb(0 0 0 / 20%);
}

.flex-item {
  flex: 1;
}
.flex-item a {
  background: linear-gradient(to right, black, rgb(67, 48, 46)) !important;
  text-align: center;
}
.flex-item a.active {
  background: linear-gradient(to left, black, rgb(67, 48, 46) 60%) !important;
}

.to {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.list-group-item.active {
  background-color: #000000a1 !important;
  color: white !important;
  border: none;
  border-left: 3px solid rgb(255 253 9) !important;
}
.sendButton {
  background: rgb(255 253 9 / 92%) !important;
  border: none !important;
  color: #000000e3 !important;
}
.you {
  background: rgb(255 253 9 / 92%) !important;
  border: none;
  color: #000000e3 !important;
}
.them {
  background: #000000a1 !important;
  border: none;
  color: white !important;
}
.newButton {
  background: rgb(255 253 9 / 86%) !important;
  color: black !important;
  border: none !important;
}

.nav-tabs,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link {
  border: none !important;
  color: whitesmoke !important ;
  /* background: linear-gradient(to right, black, rgb(67, 48, 46)) !important; */
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  /* background: linear-gradient(to right, black, rgb(67, 48, 46)) !important; */
  color: whitesmoke !important;
  border: none !important;
}
.dashborad {
  display: grid;
  grid-template-columns: minmax(80px, 350px) minmax(150px, 1fr);
}
.list-group-item {
  background: linear-gradient(to right, black, #43302e);
  color: whitesmoke !important;
}
.focussed::after {
  content: "";
  display: block;
  border-bottom: 3px solid rgb(255 253 9 / 92%) !important;
}

.primary {
  background: rgb(255 253 9 / 92%) !important;
  color: black !important;
  border: none !important;
}
.secondary {
  background: #000000a1 !important;
  color: whitesmoke !important;
  border: none !important;
}
.UnRead::after {
  position: absolute;
  content: attr(data-unread);
  background-color: rgb(255 253 9 / 92%);
  right: 8px;
  border-radius: 50%;
  width: 25px;
  color: #000000a1;
  height: 25px;
  text-align: center;
}

.UnRead {
  padding-right: 45px;
}
